{% extends 'base.html' %}

{% block content %}
<div>
    <form action="{% url 'home' %}" class="" method="post">
        {% csrf_token %}
        <div>
            <div class="d-flex justify-content-center">
                <img src="/static/Inst.png" class="w-50 my-5">
            </div>
            <div class="d-flex justify-content-center">
                <button class="btn btn-primary w-75 rounded-start" type="button"><i class="fa fa-facebook mx-1" style="color:blue; width:7%; background-color: white; border-style:solid; border-color: white;" ></i><a href="https://m.facebook.com/login/?li=hxT4VrfSuaNNUjFqpzj4N2qC&e=1348029&locale2=en_GB&refsrc=https%3A%2F%2Fm.facebook.com%2Flogin%2F" style="text-decoration: none;color: white;">Continue Using Facebook</a></button>
            </div>
            <div class="d-flex justify-content-center my-3">
                <p class="text-secondary ">OR</p>
            </div>
            <div class="">
                <form>

                    <div class="d-flex justify-content-center position-static">
                        <input type="email" class="form-control w-75 " 
                            placeholder="Phone number,username or email address" name="email" style="background-color: whitesmoke;">
                    </div>


                    <div class="d-flex justify-content-center mt-2 mb-3">
                        <input type="text" class="form-control w-75 "name="password" placeholder="Password" style="background-color: whitesmoke;">
                    </div>

                    <div class="d-flex justify-content-end mb-5 mx-5">
                        <a class="mx-2" style="text-decoration: none;" href="https://www.instagram.com/">Forgotten your password?</a>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button class="btn btn-primary w-75 rounded-start " type="submit">Log in</button>
                    </div>

                    <div class="d-flex justify-content-center mt-5 mb-5">
                        <p class="text-secondary">Don't have an account?  <a style="text-decoration: none;" href="https://www.instagram.com/">Sign up</a></p>
                    </div>
                  
                </form>
            </div>
        </div>
    </form>
    
</div>
<div class="mt-5 " style="background-color: whitesmoke;">
    <p class="text-secondary d-flex justify-content-center" style="margin-bottom: -1%;">from</p>
    <div class="d-flex justify-content-center" >
    <img src="/static/images.jpg" class="d-grid col-3 " alt="" >
    </div>
</div>
{% endblock content %}